<article>
  <div class="grid grid-2-cols">
    <h2 class="blog-title"><%= blog.title %></h2>
    <div class="flex gap grid-align-end">
      <a href="/blogs/<%= blog.id %>/edit" class="btn btn-primary btn-link"
        >Edit</a
      >
      <%- include('../partials/deleteForm.ejs') %>
    </div>
  </div>
  <span> <%= blog.date %> </span>
  <p class="blog-paragraph"><%= blog.post %></p>
</article>
